/*
 -- DOM TREE specific declarations
*/

body {
	position: relative;
}

#page {
	border: 2px solid #444444;
	width: 1000px;
	padding: 0px;
	margin: auto;
}

#page #header {
	background-color: #363;
	color: #fff;
	height: 24px;
}

#page #header #lang-selector {
    border : 1px;
    float: right;
}

#page #header #lang-selector ul {
    margin: 0px;
    padding: 0px;
}

#page #header #lang-selector ul li {
    float: left;
    list-style-type: none;
}

/* --------------------------- MY HISTORY
 */
div#myHistory {
    border: 0px solid #363;
    margin: 3px;
    height: 30px;
}

div#myHistory ul {
    padding: 0px;
    margin: 0px;
}

div#myHistory ul li {
    list-style-type: none;
    color: #363;
    font-family: Verdana;
    font-size: 9pt;
    padding: 0px;
    padding-left: 5px;
}

div#myHistory ul li.history {
    color: #363;
    float:left;
    list-style-type: none;
}

div#myHistory ul li a:link, div#myHistory ul li a:visited {
    font-family: Verdana;
    font-size: 8pt;
    text-decoration: none;
    color: #363;
}

div#myHistory ul li a:hover, div#myHistory ul li a:active {
    font-family: Verdana;
    font-size: 8pt;
    text-decoration: underline;
    color: #363;
}


/* --------------------------- TOOLBAR
 */
div#toolbar fieldset {
    margin: auto;
    margin-bottom: 5px;
}

div#toolbar fieldset ul.toolbar-list {
    padding: 0px;
    margin: 0px;
}

div#toolbar fieldset ul.toolbar-list li {
    float: left;
    list-style-type: none;
    padding: 0px;
    padding-left: 10px;
    margin-right: 5px;
}

div#toolbar fieldset select.toolbar-select {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    background: #fff;
    color : #363;
}

div#toolbar fieldset select.toolbar-select option {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #363;
}

/* --------------------------- MENU CONTENT
 */
div#page div#menu {
    margin: auto;
    margin-top: 3px;
    padding: 0px;
    width: 980px;
    height: 25px;
    border: 2px solid #363;
}

div#page div#subMenu {
    margin: auto;
    margin-top: 3px;
    padding: 0px;
    width: 900px;
    height: 25px;
    border: 0px;
    border-bottom: 1px solid #363;
}


ul.navigation {
    padding: 0px;
    margin : auto;
    border: 0px;
    width: 980px;
    height: 35px;
}

ul.navigation li {
    list-style-type: none;
    padding : 2px;
    color: #FF0000;
    margin: 0px;
    border: 0px;
    border-right: 1px solid #363;
    float: left;
    background: #fff;
}

ul.navigation li:hover {
    background: #91BE3F;
}

ul.navigation li a:visited, ul.navigation li a:link {
    font-family: Verdana;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: underline;
    color: #363;
}

ul.navigation li a:hover, ul.navigation li a:active {
    font-family: Verdana;
    font-size: 11pt;
    font-weight: normal;
    text-decoration: none;
    color: #363;
}

ul.navigation li a.sub:visited, ul.navigation li a.sub:link {
    font: Verdana;
    font-size: 10pt;
    font-weight: bold;
    text-decoration:none;
    color: #363;
}

ul.navigation li a.sub:active, ul.navigation li a.sub:hover {
    font: Verdana;
    font-size: 10pt;
    font-weight: bold;
    text-decoration:none;
    color: #363;
}


/* ------------------------ PAGE CONTENT
 */

#page #content
{
	color: #91BE3F;
	border: 0px;
	width: 100%;
    margin: auto;
}

#page #content h1 {
	color: #91BE3F;
    text-align: center;
}

#page #content h2 {
    margin-left: 10%;
    color: #363;
    font-family: Verdana;
    font-size: 12pt;
    font-weight: bold;
    background-color: #fff;
    text-align: center;
    width: 80%;
    border: 1px dashed #ff6;
}

#page #content div#home {
    text-align: center;
    margin: 15px;
    margin-left: 150px;
    width: 500px;
}

#page #content p {
    color: #444;
	font: 10pt Verdana;
    text-align: justify;
}

#page #content h3 {
    color: #000;
    font: 11pt Verdana;
    text-decoration: underline;
}

#page #content p label {
    font: 10pt Verdana;
    text-decoration: underline;
    width: 100px;
    vertical-align: middle;
}

#page #content p input.title {
    font: 10pt Verdana;
    font-weight: bold;
    color: #363;
    width: 45%;
}

#page #content p textarea {
    font: 10pt Verdana;
    font-weight: normal;
    color: #000;
    height: 100px;
    width: 90%;
}

#page #content table tr th {
    color: #444;
	font: 10pt Verdana;
    font-weight: bold;
}

#page #content table tr td {
    color: #444;
	font: 10pt Verdana;
    text-align: justify;
}

#page #footer {
	background-color: #363;
	color: #fff;
	height: 24px;
}

#page #footer span {
	text-align: center;
	font: 10pt Verdana;
}

#page #footer span a:link, a:visited {
	color: #fff;
	text-decoration: underline;
}

#page #footer span a:hover, a:active {
	text-decoration: none;
}

/*
 -- Out-scope declarations
 -- tag specific, not dom tree related
*/

div.clear {
    clear: both;
}

a:link,
a:visited
{
    color: #363;
	text-decoration: underline;
}

a:hover,
a:active {
	text-decoration:none;
}

h3 a:link,
h3 a:visited {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: underline;
    color: #363;
}

h3 a:active,
h3 a:hover {
    font-family: Verdana;
    font-size: 10pt;
    font-weight: normal;
    text-decoration: none;
    color: #000;
}


div.table-content {
    width: 80%;
    margin: auto;
}

div.table-content div.left {
    float: left;
    width: 49%;
}

div.table-content div.right {
    float: left;
    width: 49%;
    margin: 0px;
    margin-left: 10px;
}

div.table-content div table tbody tr th {
    width: 30%;
    text-align: right;

}

div.table-content div table tbody tr th span {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: bold;
    text-decoration: underline;
}

div.table-content div table tbody tr td span {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    text-decoration: none;
}

div.table-content div p {
    text-align: justify;
}

div.table-content div p span {
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    text-decoration: none;
    color: #000;
    margin: 4px;
}

